%h2 Edit Game

= form_tag game_path(@games), :method => :put do

  = label :game, :title, 'Title'
  = text_field :game, :title

  = label :game, :rating, 'Rating'
  = select :game, :rating, ['E', 'T', 'M']

  = label :game, :release_date, 'Released On'
  = text_field :game, :release_date

  = label :game, :genre, 'Genre'
  = text_field :game, :genre

  = label :game, :system, 'System'
  = text_field :game, :system

  = label :game, :more_info, 'Details About Game'
  = text_field :game, :more_info

  = submit_tag 'Update Game Info'

