-# This file is app/views/games/index.html.haml
%h2 All Games

%table#games
%thead
%tr
%th Game Title
%th Rating
%th Release Date
%th System
%th More Info
%tbody
-@games.each do |games|
%tr
%td= game.title
%td= game.rating
%td= game.release_date
%td= game.system
%td= link_to "More about #{game.title}", game_path
(game)
