-# This file is app/views/games/index.html.haml
%h2 All Games

%table#games
  %thead
    %tr
      %th Game Title
      %th Rating
      %th Release Date
      %th System
      %th More Info
  %tbody
    - @games.each do |games|
      %tr
        %td= games.title
        %td= games.rating
        %td= games.release_date
        %td= games.system
        %td= link_to "More about #{games.title}", games_path(games)
        %td= link_to 'Add new games', new_game_path
